@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0c0a09; /* tailwind stone 950 */
  --background: #fafaf9; /* tailwind stone 50 */
}

.dark {
  --foreground: #f5f5f4; /* tailwind stone 100 */
  --background: #1c1917; /* tailwind stone 950 */
}

.text-gradient {
  background: -webkit-linear-gradient(
    left,
    var(--foreground) 0%,
    var(--foreground) 50%,
    var(--background) 50%,
    var(--background) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  scroll-behavior: smooth;
}

html {
  background-color: var(--background);
}

strong {
  font-weight: 700;
}
